name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install linux deps 
      if: runner.os == 'Linux'
      run: |
          sudo apt-get -y update
          sudo apt-get -y install mesa-vulkan-drivers libvulkan1 vulkan-tools vulkan-validationlayers
    - name: Install cargo-nextest
      run: cargo install --locked cargo-nextest || true
    - name: Test 
      run: cargo nextest run -j 1
      env: 
        RUST_BACKTRACE: 1
